:root {
  --dark-blue: #96a8b2;
}

:root * {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.asset-info-container {
  background-color: #fff;
  position: relative;
  padding: 15px 0 0 15px;
  display: inline-block;
}

.asset-image-container {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 120px;

  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
}

.asset-text {
  height: 140px;
  overflow: hidden;
  float: left;
  width: 450px;
  background-color: #eee;
  padding: 5px 0 0 130px;
  border: 1px solid #ccc;
}

.asset-image {
  width: 120px;
  border: 1px solid rgb(58, 180, 212);
}

.asset-name-container {
  position: absolute;
  width: 120px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  left: 15px;
  top: 100px;
}

.gateway-device-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  height: 75px;
}

.device-image-container {
  display: inline-block;
  height: 60px;
  width: 90px;
}

img.device-image {
  margin: 10px 0 0 2px;
  height: 36px;
  vertical-align: top;
}

.device-text {
  border-radius: 5px;
  display: inline-block;
  height: 80px;
  overflow: hidden;
}

.parent-connector {
  position: absolute;
  top: 0;
  left: 60px;
  height: 30px;
  width: 50px;
  border-left: 3px solid var(--dark-blue);
  border-bottom: 3px solid var(--dark-blue);
}

.sibling-connector {
  position: absolute;
  top: 30px;
  left: 60px;
  width: 1px;
  height: 65px;
  border-left: 3px solid var(--dark-blue);
}

.gateway-device-container:last-of-type > .sibling-connector {
  border-left: 0;
}

div.key, div.value {
  display: inline-block;
}

div.key {
  width: 150px;
}

.asset-text *, .device-text * {
  font-size: 12px;
}

.asset-text .heading {
  width: 150px;
  font-weight: bold;
}

.asset-text > .heading {
  font-size: 14px;
  width: 150px;
}

.csv-export-btn {
  position: absolute;
  width: 120px;
  bottom: 0;
  left: 15px;
  iron-icon {
    margin:  0 8px 8px 0;
  }
}

#exportBtn {
  background-color: #086e87;
}
#exportBtn.download-disabled {
  color:#96a8b2;
  cursor: default;
}

$inuit-enable-btn--primary : true;
@import "px-buttons-design/_objects.buttons.scss";
