<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown-content.html">
<link rel="import" href="../../bower_components/px-rangepicker/px-rangepicker.html">
<link rel="import" href="../asset-info/asset-info.html">
<link rel="import" href="../asset-browser/asset-browser.html">
<link rel="import" href="../../bower_components/px-moment-imports/px-moment-imports.html">


<link rel="import" href="kit-data-view-styles.html">
<!--
  This component contains an asset browser to navigate groups and devices.
  When a device is opened, the component queries Time Series for all tags associated with the device.
  If data is found, the tag is passed in to the sensor-chart, and the chart fetches data.
  Also supports a date picker and auto-refresh.
-->
<dom-module id="kit-data-view">
  <style>
  :host {
    --iron-icon-width: 16px;
    --iron-icon-height: 16px;
  }
  #assetInfo {
    height: 100px;
    background-color: #aaa;
  }

  #assetInfo > img {
    height: 88px;
  }
  </style>
  <template>
    <style include="kit-data-view-styles"></style>
    <asset-info
      asset-details="[[selectedAsset]]"
      connected-devices="[[connectedDevices]]"
    >
    </asset-info>
      <asset-browser id="assetBrowser"
        asset-model="{{rmdAssetModel}}"
        opened-asset="{{openedAsset}}"
        asset-query-url="/api/kit/device"
        asset-group-query-url="/api/predix-asset/devicegroup"
        disable-infinite-scroll="true">
      </asset-browser>

    <div class="u-pt flex kit-data-controls-row" style="position: relative;">
      <div class="u-1/2-desk u-1/1-palm">
        <div class="u-pr">
          <px-rangepicker id="tsRangepicker" range="{{selectedRange}}"></px-rangepicker>
        </div>
      </div>
      <template is="dom-if" if="{{expirationDate}}">
        <div class="u-1/2-desk u-1/1-palm" style="text-align: right;">
          <span class="u-pr"><a href="/#/about">Device active in cloud until:</a></span><br/>
          <span class="u-pr">{{expirationDate}}</span>
        </div>
      </template>
      <px-dropdown id="refreshFrequencyDropdown"
        display-value="Every 5 sec"
        selected-key="{{_refreshTimerInterval}}"
        value="Every 5 sec"
        style="position: absolute; top: 15px; left: 580px; width: 150px; padding-right: 5px">
        <px-dropdown-content extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10'
          items='[{"key":"0","val":"No Refresh"},{"key":"3","val":"Every 3 sec"},{"key":"5","val":"Every 5 sec"},{"key":"30","val":"Every 30 sec"}]'>
        </px-dropdown-content>
      </px-dropdown>
      <div id="refreshBtn"
        style="position: absolute; top: 15px; left: 735px; text-align: center; line-height: 26px; width: 28px; height: 28px; border: 1px solid #999; border-radius: 4px; cursor: pointer;">
        <iron-icon icon="fa:fa-refresh" style="margin-left: 2px; margin-top: 1px"></iron-icon>
      </div>
    </div>

    <template is="dom-if" if="{{expired}}">
      <div style="text-align: center;">
        <h3 class="u-pt">This device has expired, and is no longer available in the shared DeviceCloud app.</h3>
        <span>Follow <a target="_blank" href="https://www.predix.io/resources/tutorials/tutorial-details.html?tutorial_id=1475&tag=2365&journey=Predix%20Developer%20Kit">this tutorial</a> to learn how to deploy your own DeviceCloud app.</span>
      </div>
    </template>

    <div class="flex flex--wrap">
      <template is="dom-repeat" items="{{tagsWithData}}">
        <div class="flex__item u-1/3-desk u-1/1-palm">
          <sensor-chart tag="{{item}}" selected-range="{{chartRange}}"></sensor-chart>
        </div>
      </template>
    </div>

    <iron-ajax id="tsAjaxEl" content-type="application/json"></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'kit-data-view',
      properties: {
        rmdAssetModel: {
          type: Object
        },
        openedAsset: {
          type: Object,
          observer: '_openedAssetChanged',
          value: {
            'assetImageUrl': '/docs/images/PredixAsset_Aircraft.png',
            'assetText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
            , name: 'My Big Asset'
            , attributes: [
                { 'label': 'keyA', 'value': 'valueA'},
                { 'label': 'keyB', 'value': 'valueB'},
                { 'label': 'keyC', 'value': 'valueC'},
                { 'label': 'keyD', 'value': 'valueD'}
            ]
          }
        },
        selectedAsset: {
          type: Object,
          observer: '_openedAssetChanged',
          value: {
            'assetImageUrl': '/docs/images/PredixAsset_Aircraft.png',
            'assetText': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
            , name: 'My Big Asset'
            , attributes: [
                { 'label': 'keyA', 'value': 'valueA'},
                { 'label': 'keyB', 'value': 'valueB'},
                { 'label': 'keyC', 'value': 'valueC'},
                { 'label': 'keyD', 'value': 'valueD'}
            ]
          }
        },
        assetTags: {
          type: Array
        },
        tagsWithData: {
          type: Array
        },
        selectedRange: {
          type: Object
        },
        chartRange: {
          type: Object
        },
        expirationDate: {
          type: String
        },
        expired: {
          type: Boolean
        },
        _refreshTimerInterval: {
          type: Number,
          value: 5
        },
        connectedDevices: {
          type: Array,
          value: [
            {
              'deviceName': 'NUC1',
              'imageUrl': '/docs/images/NUC.png',
              'attributes': [
                { 'label': 'key1', 'value': 'value1'},
                { 'label': 'key2', 'value': 'value2'},
                { 'label': 'key3', 'value': 'value3'},
                { 'label': 'key4', 'value': 'value4'}
              ]
            },
            {
              'deviceName': 'NUC2',
              'imageUrl': '/docs/images/NUC.png',
              'attributes': [
                { 'label': 'key5', 'value': 'value5'},
                { 'label': 'key6', 'value': 'value6'},
                { 'label': 'key7', 'value': 'value7'},
                { 'label': 'key8', 'value': 'value8'}
              ]
            },
            {
              'deviceName': 'NUC3',
              'imageUrl': '/docs/images/NUC.png',
              'attributes': [
                { 'label': 'key9', 'value': 'value9'},
                { 'label': 'key10', 'value': 'value10'},
                { 'label': 'key11', 'value': 'value11'},
                { 'label': 'key12', 'value': 'value12'}
              ]
            }
          ]
        }
      },
      observers: ['_tagsOrRangeChanged(assetTags.*, selectedRange)'],

      _formatTagsForDisplay: function(tags) {
        var displayTags = []
        tags.forEach(function(t) {
          var tag = {
            key: t.timeseriesDatasource.tag,
            val: t.label,
            unit: t.unit,
            chartType: 'time-series'
          }
          if (t.tagUri.toLowerCase().indexOf('rotary') > -1) {
            tag.chartType = 'percent-circle';
          } else if (t.tagUri.toLowerCase().indexOf('sound') > -1) {
            tag.chartType = 'bar';
          }
          displayTags.push(tag);
        });
        return displayTags;
      },
      _openedAssetChanged: function(newVal) {
        console.log('asset opened:', newVal);
        this.expired = false;
        if (newVal.expirationDate) {
          var expMoment = moment(newVal.expirationDate, 'x');
          if (moment().diff(expMoment) < 0) {
            if (newVal.tags) {
              this.assetTags = this._formatTagsForDisplay(newVal.tags);
            }
            this.expirationDate = expMoment.format('h:mm A MMM D, YYYY');
            return;
          }
        } else if (newVal.uri && newVal.uri.length > 0) {
          this.set('assetTags', []);
          this.set('tagsWithData',[]);
          this.expirationDate = null;
          this.expired = true;
        }
      },

      _loadFragment: function(elementId, fragmentPath) {
        if (Polymer.isInstance(this.$[elementId])) {
          return;
        }
        Polymer.Base.importHref(fragmentPath, null, function() {
          console.log('failed to load:', fragmentPath);
        }, true);
      },

      _getDefaultRange: function(weeks) {
        var to = moment().add(1, 'day');
        var from = moment(to).subtract(weeks, 'week');
        return {"from":from.toISOString(),"to":to.toISOString()};
      },

      _tagsOrRangeChanged: function(newTags, newRange) {
        console.log('kit-data-view _tagsOrRangeChanged', newTags, newRange);
        this.debounce('fetch', function() {
          if (newRange && newTags && newTags.base.length > 0) {
            this._fetchTimeseriesData(newTags.base, newRange);
          }
        }, 100);
      },

      // Expects a tag object, and a range object from px-rangepicker
      // {key: "tag1", val: "Tag 1"}
      // {"from":"2016-01-01T00:00:00.000Z","to":"2016-07-01T11:00:00.000Z"}
      _fetchTimeseriesData: function(tags, range) {
        var query = {
          "cache_time": 0,
          start: moment(range.from).valueOf(),
          end: moment(range.to).valueOf(),
          tags: []
        };
        tags.forEach(function(t) {
          // TODO: fix this, if we show the tag dropdown.
          // if (t.checked) {
            query.tags.push({
              name: t.key,
              limit: 5,
              order: "desc"
            });
          // }
        });
        console.log('kit-data-view fetching timeseries data', tags, range);
        this.$.tsAjaxEl.url = '/api/predix-timeseries/v1/datapoints';
        this.$.tsAjaxEl.method = 'POST';
        this.$.tsAjaxEl.body = query;
        this.$.tsAjaxEl.generateRequest();
      },

      // find which tags from predix asset have matching data in predix time series.
      _buildTagsWithData: function(tsTags) {
        var matchingTags = [];

        if (tsTags && tsTags.length > 0 && this.assetTags && this.assetTags.length > 0) {
          for (var i = 0; i < tsTags.length; i++) {
            var tsTag = tsTags[i];
            if (tsTag.results[0].values.length > 0) {
              for (var j = 0; j < this.assetTags.length; j++) {
                var aTag = this.assetTags[j];
                if (aTag.key === tsTag.name) {
                  var copy = Object.assign({}, aTag); //shallow copy only
                  matchingTags.push(copy);
                  break;
                }
              }
            }
          }
        }
        if (matchingTags.length === 0) {
          matchingTags.push({val: 'No Data Found', chartType: 'empty'});
        }
        return matchingTags;
      },

      ready: function(){
        this._loadFragment('tsChart', '/elements/sensor-chart/sensor-chart.html');
        this.selectedRange = this._getDefaultRange(1);
        // set copy of 'this' for callback function use below
        var that = this;

        this.$.tsAjaxEl.addEventListener('response', function(evt) {
          console.log('ts data', evt.detail.response);
          if (evt.detail.response.tags) {
            this.set('tagsWithData', this._buildTagsWithData(evt.detail.response.tags));
          }
          this.chartRange = this.selectedRange;
        }.bind(this));

        // Set refresh  button behavior
        this.$.refreshBtn.addEventListener('click', function() {
          this.selectedRange = this._getDefaultRange(1);
        }.bind(this));

        // Set refresh dropdown behavior
        this.$.refreshFrequencyDropdown.addEventListener('px-dropdown-value-changed', function(evt){
          var interval = that._refreshTimerInterval * 1000;
          console.log('interval', interval);
          clearInterval(that.intervalId);

          // If no refresh selected, clear any existing interval
          if (interval === 0) {
            that._refreshTimerInterval = 0;
          }
          // else set interval according to user selection
          else {
            that.intervalId = setInterval(function() {
              that.selectedRange = that._getDefaultRange(1);
            }, interval);
          }
        });

        // Update the image for the selected asset
        window.predix = window.predix || {};
        if (window.predix == {}) {
          window.predix.selectedAssetImageURL = '/docs/images/PredixAsset_Aircraft.png';
        }
        // this.$.selectedAssetImage.src = window.predix.selectedAssetImageURL;

        // start off initial interval loop
        this.intervalId = setInterval(function() {
          that.selectedRange = that._getDefaultRange(1);
        }, 5000);
      },

      getAssetInfoDisplay: function() {
        if (this.properties.openedAsset && this.properties.openedAsset !== {}) {
          return 'block';
        }
        else {
          return 'none';
        }
      }
    });
  </script>
</dom-module>
