// Settings

// Generic

// Base
@import 'px-flexbox-design/_base.flexbox.scss';

// Meta

// Objects
// @import "px-buttons-design/_objects.buttons.scss";
.kit-data-controls-row {
    background: white;
    padding-left: 1rem;
}

.charts-wrapper {
  background-color: white;
}

.chart-wrapper {
  margin: 0 0 15px 15px;
  border: 1px solid #ccc;
}

#assetBrowserOverlayAnchor {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #fff;
}

// Trumps
$inuit-enable-paddings : true;
$inuit-enable-paddings--tiny : true;
@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
